<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goodreads | Home</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>

<header class="">
    <div id="login">
        <form action="/login" method="post">
            <p><input type="text" placeholder="Username" name="username" required />
            <input type="password" placeholder="Password" name="password" required /></p>
            <p><button type="submit" name="type" value="login">Login</button>
            <button type="submit" name="type" value="register">Register</button></p>
        </form>
       <!--  <p id="redAtt">RedAtt Message</p> -->
    </div>
</header>
<main class="center">
<!-- <section id="createBook">
    <form action="/create-book" method="post">
        <input type="text" placeholder="Book Title" name="title" size="50" required />
        <input type="text" placeholder="Book author" name="author" required />
        <input type="text" placeholder="Original publish year" name="year"/>
        <select name="status" required>
            <option selected disabled>Select status</option>
            <option value="Want to read">Want to read</option>
            <option value="Currently reading">Currently Reading</option>
            <option value="Read">Read</option>
        </select>
        <button type="submit">Create</button>
    </form>
</section> -->

<section id="allBooks">
<div class="controls">
    <h1 class="headline">All books in others bookshelves</h1>
    <form class="controls">
        <label>Filter by:</label>
        <select name="filterStatus">
            <option default disabled>Status</option>
            <option value="want">Want To Read</option>
            <option value="current">Currently Reading</option>
            <option value="read">Read</option>
        </select>
        <label for="sort">Sort By:</label>
        <select id="sort" name="sortBy">
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="year">Year</option>
        </select>
    </form>
</div>
    <ul class="bookshelf">
        <li class="book">
            <div class="cover">
                <img src="http://books.google.com/books/content?id=Ds-LBgAAQBAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </div>
            <div class="info">
            <h2 class="title" ="title">Harry Potter and the Chamber of Secrets</h2>
            <h3 class="author">J.K. Rowling <span>2005</span></h3>
            <p class="description">"Turning the envelope over, his hand trembling, Harry saw a purple wax seal bearing a coat of arms; a lion, an eagle, a badger and a snake surrounding a large letter 'H'." Harry Potter has never even heard of Hogwarts when the letters start</p>
            <p class="userInfo">In <span class="status">Currently Reading</span> list by <span class="user"><a href="#">Username</a></span></p>
            </div>
        </li>
        <li class="book">
            <div class="cover">
                <img src="http://books.google.com/books/content?id=Ds-LBgAAQBAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </div>
            <div class="info">
            <h2 class="title" ="title">Harry Potter and the Chamber of Secrets</h2>
            <h3 class="author">J.K. Rowling <span>2005</span></h3>
            <p class="description">"Turning the envelope over, his hand trembling, Harry saw a purple wax seal bearing a coat of arms; a lion, an eagle, a badger and a snake surrounding a large letter 'H'." Harry Potter has never even heard of Hogwarts when the letters start</p>
            <p class="userInfo">In <span class="status">Currently Reading</span> list by <span class="user"><a href="#">Username</a></span></p>
            </div>
        </li>
        <li class="book">
            <div class="cover">
                <img src="http://books.google.com/books/content?id=Ds-LBgAAQBAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </div>
            <div class="info">
            <h2 class="title" ="title">Harry Potter and the Chamber of Secrets</h2>
            <h3 class="author">J.K. Rowling <span>2005</span></h3>
            <p class="description">"Turning the envelope over, his hand trembling, Harry saw a purple wax seal bearing a coat of arms; a lion, an eagle, a badger and a snake surrounding a large letter 'H'." Harry Potter has never even heard of Hogwarts when the letters start</p>
            <p class="userInfo">In <span class="status">Currently Reading</span> list by <span class="user"><a href="#">Username</a></span></p>
            </div>
        </li>
        <li class="book">
            <div class="cover">
                <img src="http://books.google.com/books/content?id=Ds-LBgAAQBAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </div>
            <div class="info">
            <h2 class="title" ="title">Harry Potter and the Chamber of Secrets</h2>
            <h3 class="author">J.K. Rowling <span>2005</span></h3>
            <p class="description">"Turning the envelope over, his hand trembling, Harry saw a purple wax seal bearing a coat of arms; a lion, an eagle, a badger and a snake surrounding a large letter 'H'." Harry Potter has never even heard of Hogwarts when the letters start</p>
            <p class="userInfo">In <span class="status">Currently Reading</span> list by <span class="user"><a href="#">Username</a></span></p>
            </div>
        </li>
        <li class="book">
            <div class="cover">
                <img src="http://books.google.com/books/content?id=Ds-LBgAAQBAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </div>
            <div class="info">
            <h2 class="title" ="title">Harry Potter and the Chamber of Secrets</h2>
            <h3 class="author">J.K. Rowling <span>2005</span></h3>
            <p class="description">"Turning the envelope over, his hand trembling, Harry saw a purple wax seal bearing a coat of arms; a lion, an eagle, a badger and a snake surrounding a large letter 'H'." Harry Potter has never even heard of Hogwarts when the letters start</p>
            <p class="userInfo">In <span class="status">Currently Reading</span> list by <span class="user"><a href="#">Username</a></span></p>
            </div>
        </li>
        <li class="book">
            <div class="cover">
                <img src="http://books.google.com/books/content?id=Ds-LBgAAQBAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </div>
            <div class="info">
            <h2 class="title" ="title">Harry Potter and the Chamber of Secrets</h2>
            <h3 class="author">J.K. Rowling <span>2005</span></h3>
            <p class="description">"Turning the envelope over, his hand trembling, Harry saw a purple wax seal bearing a coat of arms; a lion, an eagle, a badger and a snake surrounding a large letter 'H'." Harry Potter has never even heard of Hogwarts when the letters start</p>
            <p class="userInfo">In <span class="status">Currently Reading</span> list by <span class="user"><a href="#">Username</a></span></p>
            </div>
        </li>
        <li class="book">
            <div class="cover">
                <img src="http://books.google.com/books/content?id=Ds-LBgAAQBAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </div>
            <div class="info">
            <h2 class="title" ="title">Harry Potter and the Chamber of Secrets</h2>
            <h3 class="author">J.K. Rowling <span>2005</span></h3>
            <p class="description">"Turning the envelope over, his hand trembling, Harry saw a purple wax seal bearing a coat of arms; a lion, an eagle, a badger and a snake surrounding a large letter 'H'." Harry Potter has never even heard of Hogwarts when the letters start</p>
            <p class="userInfo">In <span class="status">Currently Reading</span> list by <span class="user"><a href="#">Username</a></span></p>
            </div>
        </li>
        <li class="book">
            <div class="cover">
                <img src="http://books.google.com/books/content?id=Ds-LBgAAQBAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </div>
            <div class="info">
            <h2 class="title" ="title">Harry Potter and the Chamber of Secrets</h2>
            <h3 class="author">J.K. Rowling <span>2005</span></h3>
            <p class="description">"Turning the envelope over, his hand trembling, Harry saw a purple wax seal bearing a coat of arms; a lion, an eagle, a badger and a snake surrounding a large letter 'H'." Harry Potter has never even heard of Hogwarts when the letters start</p>
            <p class="userInfo">In <span class="status">Currently Reading</span> list by <span class="user"><a href="#">Username</a></span></p>
            </div>
        </li>
        <li class="book">
            <div class="cover">
                <img src="http://books.google.com/books/content?id=Ds-LBgAAQBAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </div>
            <div class="info">
            <h2 class="title" ="title">Harry Potter and the Chamber of Secrets</h2>
            <h3 class="author">J.K. Rowling <span>2005</span></h3>
            <p class="description">"Turning the envelope over, his hand trembling, Harry saw a purple wax seal bearing a coat of arms; a lion, an eagle, a badger and a snake surrounding a large letter 'H'." Harry Potter has never even heard of Hogwarts when the letters start</p>
            <p class="userInfo">In <span class="status">Currently Reading</span> list by <span class="user"><a href="#">Username</a></span></p>
            </div>
        </li>
    </ul>
</section>
<!-- 
<section id="allBooks">
    <h1>All users' books:</h1>
    <ul>
        <li>{{title}} by {{author}} : {{status}} by {{user.username}}</li>
    </ul>
</section> -->
</main>
</body>
</html>